* {
  	box-sizing: border-box;
}
@font-face {
    font-family: hagin;
    src: url(Hagin-Caps-Thin.otf);
}
@font-face {
    font-family: hagin-md;
    src: url(Hagin-Caps-Medium.otf);
}
@font-face {
    font-family: bariol;
    src: url(Bariol_Regular_Italic.otf);
}
html {
	font-family: open sans, sans-serif;
	font-weight: 100;
	font-size: 16px;
	height: 100vh;
}
body {
	overflow-y: hidden;
	background: url(images/a1.jpg) calc(50vw - 400px) center no-repeat;
	background-size: auto 100%;
	height: 100%;
	display: inline-flex;
}
h3 {
	font-family: hagin;
	font-size: 2rem;
	line-height: 3rem;
	color: #CFBD00;
}
h4 {
	font-family: hagin;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #fff;
}
a {
	color: inherit;
	text-decoration: none;
}
.content h3:before, 
	.content h3:after {
		content: "";
		display: inline-block;
		height: 0px;
		width: 100px;
		border-width: .5px 0 0 0;
		border-style: solid;
		border-color: #CFBD00;	
		margin-bottom: 0.7rem;
	}
.bg-image {
	position: relative;
	top: 0;
	left: 35vw;
	height: 100%;
	z-index: -10;
}
.bg-image img {
	height: 100%;
}
.nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: #333;
	color: #fff;
	box-shadow: 0px 3px 17px 0px rgba(0,0,0,0.3);
	font-family: hagin;
	font-size: 1rem;
	line-height: 40px;
	transition: all 1s;
	z-index: 100;
}
.nav ul {
	margin-left: 20px;
}
.nav ul li {
	display: inline-block;
	margin-right: 30px;
}
.nav a {
	font-family: open sans;
}
.nav a:hover {
	font-weight: bold;
}
.nav .active {
	color: #CFBD00;
}
.section {
	display: inline-block;
	top: 0;
	height: 100%;
	margin: 0;
	padding: 49px 0 0 199px;
}
	.section > div {
		height: 100%;
	}


#home {
	background: url(images/skos1.svg) right bottom no-repeat;
	padding-left: 0;
	padding-right: 259px;
	margin-right: 300px;
}
	#home > div {
		background: #333;
		min-width: 350px;
		max-width: 800px;
		width: calc(50vw - 260px);
	}
	.hi {
		color: #fff;
		width: 200px;
		margin: 0 auto;
		padding: 100px 0 7%;
		font-family: hagin;
	}
		.hi h1 {
			color: #CFBD00;
			font-size: 3rem;
			display: inline;
		}
		.hi h2 {
			margin-left: 30px;
			font-size: 2rem;
			line-height: 2.5rem;
		}
		.hi p {
			display: inline;
			font-size: 1.5rem;
			line-height: 1.5rem;
		}
	.about {
		color: #fff;
		width: 70%;
		margin: 0 auto;
		font-size: 1rem;
		line-height: 1.5rem;
		text-align: center;
	}
		.about p {
			margin-bottom: 20px;
		}
	.content-container {
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.content {
		margin: 20px auto;
		font-size: 1rem;
		line-height: 1.5rem;
		text-align: center;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}


#skills {
	background: url(images/skos2.svg) left top no-repeat;
	padding-left: 259px;
	color: #fff;
}
	#skills > div {
		background: #222;
		padding-right: 201px;
		min-width: 700px;
		width: calc(100vw + 200px);
	} 
	#skills .content-container {
		flex-direction: column;
	}
	#skills .content {
		max-width: 600px;
	}
		#skills .content h3 {
			flex-basis: 100%;
		}
		#skills .content > div:last-child {
			flex-basis: 100%;
			font-size: 0.8rem;
		}
	#skills .item {
		flex-basis: 30%;
	}
	#skills p {
		display: none;
	}


#portfolio {
	background: url(images/skos3.svg) left top no-repeat;
	margin-left: -200px;
}
	#portfolio > div {
		background: white;
		padding-right: 199px;
		min-width: 700px;
		width: calc(100vw + 200px);
	} 
	#portfolio .content {
		flex-direction: row;
		align-items: baseline;
	} 
	#portfolio .item {
		flex-basis: 50%;
	}
		#portfolio .item a > * {
			width: 80%;
			margin: 0 auto;
		}
		#portfolio .item:hover img {
			width: 100%;
			transition: all 1s;
		}
	#portfolio img {
		max-width: 600px;
		transition: all 1s;
	}
	#portfolio h4 {
		color: #000;
	}


#contact {
	background: url(images/skos4.svg) left top no-repeat;
	margin-left: -200px;
	padding-right: 0;
}
	#contact > div {
		background-color: #aaa;
		min-width: 700px;
		width: calc(100vw);
	}
	#contact .content {
		flex-direction: column;
		color: #fff;
		max-width: 500px;
		justify-content: space-around;
		min-height: 50%;
	}
	#contact ul {
		margin: 0 auto;
	}
	#contact li {
		text-align: left;
		line-height: 50px;
	}
	#contact img {
		width: 50px;
		margin-right: 20px;
		height: 100%;
		vertical-align: middle;
	}
	#contact a {
		display: block;
		margin: 0 auto;
	}


button {
	width: 10rem;
	height: 4rem;
	font-family: hagin;
	font-size: 1.5rem;
	background-color: transparent;
	border: 5px solid #fff;
	color: #fff;
}
button:hover{
	border-color: #CFBD00;
	color: #fff;
}