* {
  	box-sizing: border-box;
}

@font-face {
    font-family: Walkway;
    src: url(walkway_semibold.ttf);
}

@font-face {
    font-family: Walkway;
    src: url(walkway_ultrabold.ttf);
    font-weight: bold;
}

html {
	font-size: 100%;
	letter-spacing: .1em;
}
body {
	background-color: #FFF;
	font-family: walkway, serif;
	line-height: 150%;
	height: 100%;
}
h1 {
	font-size: 200%;
	color: #AAA;
	line-height: 80px;
}
p {
	line-height: 150%;
	font-size: 120%;
	padding: 10px 5px;
}
button {
	display: inline;
	margin-top: 0;
	margin-left: 100px;
	padding: 15px 50px;
	border: 0;
	border-radius: 10px;
	background-color: #EEE;

}
footer {
	background-color: #555;
	color: #000;
	width: 100%;
	padding: .5% 0;
	min-height: 30px;
	float: left;
}
footer p {
	color: #FFF;
	font-weight: bold;
	font-size: 100%;
	width: 300px;
	margin-left: 20%;
	display: inline;
}
a {
	font-family: walkway;
	font-size: 150%;
	font-weight: bold;
	text-decoration: none;
	color: #000;
	letter-spacing: .1em;

}

.top {
	background-color: #FFF;
	position: fixed;
	width: 100%;
	height: 80px;
	z-index: 2;
	box-shadow: 0 0 10px #AAA;
}
.toptext {
	margin-left: 5%;
}
.menu {
	float: right;
	line-height: 60px;
}
.menu li {
	display: inline;
	padding-left: 15px;
}
.pusty {
	height: 80px;
}
.intro {
	padding-left: 5%;
	padding-top: 4%;
	background-image: url(ja3.png);
	background-repeat: no-repeat;
	background-position: right;
	min-height: 532px;
}
.about {
	max-width: 900px;
	width: 50%;
}
.ja {
	display: none;
}
.cv {
	background-color: #AAA;
	padding: 40px 5%;
	color: #FFF;
	font-weight: bold;
	overflow: auto;
	letter-spacing: .1em;
}
.cv p {
	display: inline;
	font-size: 130%;
}
.clear {
	clear: both;
	line-height: 0;
}
ul {
	display: inline;
	margin-left: 20%;
}
li {
	display: inline-block;
	color: #FFF;
	font-weight: bold;
	font-size: 100%;
	margin: 1%;
	text-align: right;
}



/*----------------------------------------------------------*/
@media screen and (max-width: 1035px) {
	.intro {
		background-image: none;
		padding: 0;
	}
	.about {
		width: 90%;
		margin: 10px 5%;
	}
	.ja{
		display: block;
		width: 200px;
		margin: 20px auto 0 auto;
	}
	h1 {
		text-align: center;
	}
	.toptext {
	margin-left: 0;
	}
	.cv p {
		text-align: center;
		width: 100%;
		display: block;
		padding: 0;
	}
	button {
		display: block;
		margin: 20px auto 0 auto;
	}
	footer p {
		display: block;
		margin: 0 auto;
		text-align: center;
	}
	ul {
		display: block;
		margin: 0 auto;
	}
	li {
		text-align: center;
	  	width: 49%;
	  	margin: 0;
	}
}
