* {
  	box-sizing: border-box;
}
@font-face {
    font-family: hagin;
    src: url(Hagin-Caps-Thin.otf);
}
@font-face {
    font-family: hagin-md;
    src: url(Hagin-Caps-Medium.otf);
}
@font-face {
    font-family: bariol;
    src: url(Bariol_Regular_Italic.otf);
}
html {
	font-family: open sans, sans-serif;
	font-weight: 100;
	font-size: 16px;
}
body {
	overflow-y: hidden;
}
h3 {
	font-family: hagin;
	font-size: 2rem;
	line-height: 3rem;
	color: #CFBD00;
}
h4 {
	font-family: hagin;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #fff;
}
a {
	color: inherit;
	text-decoration: none;
}
.bg-image {
	position: fixed;
	top: 0;
	left: calc(28vw - 340px);
	height: 100%;
	z-index: -10;
	transition: all 2s;
}
.bg-image img {
	height: 100%;
}
.bg-image.shrink {
	left: calc(28vw - 400px);
	transition: all 2s;
}
.nav ul {
	margin-left: 20px;
}
.nav a {
	font-family: hagin;
}
.nav a:hover {
	font-family: hagin-md;
}
.nav .active {
	color: #CFBD00;
}
.section {
	display: inline-block;
	position: absolute;
	top: 0;
	min-width: 100vw;
	height: 100%;
	margin: 0;
	padding-right: 10%;
}
.nav {
	background-image: linear-gradient(103deg, #CFBD00 56%, transparent 55%);
	position: fixed;
	z-index: 100;
	width: 25vw;
	min-width: 230px;
	font-family: hagin;
	font-size: 2rem;
	line-height: 3rem;
	color: white;
	padding: 0;
	transition: all 1s;
}
.nav > div {
	background-image: linear-gradient(101deg, #666 50%, transparent 49%);
	height: 100%;
}
.nav.shrink {
	width: 230px;
	transition: all 1s;
}
#home {
	background-image: linear-gradient(103deg, transparent 21%, #fff 20%, #fff 41%, #333 40%, #333 81%, transparent 80%);
	left: 25vw;
	padding: 0;
	z-index: 20;
}
#home > div {
	background-image: linear-gradient(100deg, transparent 24%, #333 23%, #333 51%, transparent 50%);
	height: 100%;
	z-index: 20
}
.hi {
	color: #fff;
	width: 200px;
	margin: 0 auto;
	padding: 7% 0;
	font-family: hagin;
}
.hi h1 {
	color: #CFBD00;
	font-size: 3rem;
	display: inline;
}
.hi h2 {
	margin-left: 30px;
	font-size: 2rem;
	line-height: 2.5rem;
}
.hi p {
	display: inline;
	font-size: 1.5rem;
	line-height: 1.5rem;
}
.about {
	color: #fff;
	width: 40%;
	margin: 0 auto;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
}
.about p {
	margin-bottom: 20px;
}
.content-container {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	width: 60%;
	margin: 20px auto;
	font-size: 1rem;
	line-height: 1.5rem;
	text-align: center;
	z-index: 0;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
#skills {
	background-image: linear-gradient(103deg, #222 81%, transparent 80%);
	color: #fff;
	z-index: 15;
	left: 100vw;
} 
#skills .content-container {
	flex-direction: column;
}
#skills .content {
	max-width: 600px;
}
#skills .content h3 {
	flex-basis: 100%;
}
.content h3:before, .content h3:after {
	content: "";
	display: inline-block;
	height: 0px;
	width: 100px;
	border-width: .5px 0 0 0;
	border-style: solid;
	border-color: #CFBD00;	
	margin-bottom: 0.7rem;
}
#skills .item {
	flex-basis: 30%;
}
#skills .content > div:last-child {
	flex-basis: 100%;
	font-size: 0.8rem;
}
#skills p {
	display: none;
}
#portfolio {
	background-image: linear-gradient(103deg, #fff 81%, transparent 80%);
	z-index: 10;
	left: 175vw;
	min-width: 1550px;
}
#portfolio .content {
	flex-direction: row;
	align-items: baseline;
} 
#portfolio .item {
	flex-basis: 50%;
}
#portfolio .item a > * {
	width: 80%;
	margin: 0 auto;
}
#portfolio img {
	transition: all 1s;
}
#portfolio h4 {
	color: #000;
}
#portfolio .item:hover img {
	width: 100%;
	transition: all 1s;
}
#contact {
	background-color: #aaa;
	z-index: 5;
	float:left;
	padding: 0 0 0 15%;
	max-width: 500px;
}
.margin {
	width: 250vw;
	min-width: calc(175vw + 1150px);
	float:left;
	height: 100vh;
	z-index: -100;
	border: 10px solid black;
}
#contact .content {
	flex-direction: column;
	color: #fff;
	max-width: 500px;
	justify-content: space-around;
	min-height: 50%;
}
#contact ul {
	margin: 0 auto;
}
#contact li {
	text-align: left;
	line-height: 50px;
}
#contact img {
	width: 50px;
	margin-right: 20px;
	height: 100%;
	vertical-align: middle;
}
#contact a {
	display: block;
	margin: 0 auto;
}
button {
	width: 10rem;
	height: 4rem;
	font-family: hagin;
	font-size: 1.5rem;
	background-color: transparent;
	border: 5px solid #fff;
	color: #fff;
}
button:hover{
	border-color: #CFBD00;
	color: #fff;
}